* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  padding-left: 16px;
  padding-right: 14px;
  background: linear-gradient(180deg, white 0%, #F0F1FF 100%);
}
.header__link {
  background: #13183F;
  color: white;
  text-decoration: none;
  padding: 11px 16px 9px 16px;
  border-radius: 19px;
  font-size: 14px;
  vertical-align: middle;
}

.main {
  padding-bottom: 70px;
  padding-left: 16px;
  padding-right: 14px;
  background: linear-gradient(180deg, white 0%, #F0F1FF 100%);
}
.main__title {
  color: #13183F;
  margin: 0;
  margin-bottom: 20px;
  line-height: 40px;
}
.main__description {
  color: #83869A;
  max-width: 328px;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 20px;
}
.main__cta {
  background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  color: white;
  text-decoration: none;
  padding: 11px 16px 9px 16px;
  border-radius: 19px;
  font-size: 14px;
}
.main__stats {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  background: url(../img/Group\ 7.png) no-repeat center;
  background-size: 250px;
  position: relative;
  margin-bottom: 50px;
}
.main__move {
  background-color: white;
  position: absolute;
  padding: 13px;
  padding-right: 29px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 0px 30px 50px rgba(6, 22, 141, 0.16);
}
.main__stat {
  background-color: white;
  position: absolute;
  padding: 13px;
  padding-right: 29px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 0px 30px 50px rgba(6, 22, 141, 0.16);
}
.main__stat-label {
  color: #83869A;
  font-size: 13px;
}
.main__stat-value {
  font-weight: bold;
  color: #13183F;
  font-size: 23px;
}
.main__popular-courses {
  background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  padding: 24px 0 23px 28px;
  border-radius: 10px;
  color: white;
  margin-bottom: 30px;
}
.main__popular-courses p {
  max-width: 200px;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
}
.main__courses {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.main__courses .main__course {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  margin-bottom: 20px;
}
.main__courses .main__course-image {
  background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  padding: 7px;
  border-radius: 50%;
}
.main__courses .main__course-title {
  color: #13183F;
  font-weight: 800;
}
.main__courses .main__course-description {
  color: #83869A;
  max-width: 289px;
}
.main__courses .main__course-cta {
  text-decoration: none;
  color: #F74780;
}

.footer {
  background-color: #13183F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.footer__link {
  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  color: white;
  text-decoration: none;
  padding: 11px 16px 9px 16px;
  border-radius: 19px;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */