* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #13183F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.footer__link {
  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  color: white;
  text-decoration: none;
  padding: 11px 16px 9px 16px;
  border-radius: 19px;
  font-size: 14px;
}
@media (min-width: 1200px) {
  .footer .main__title {
    font-size: 50px;
    max-width: 500px;
  }
  .footer .main {
    padding-left: 100px;
  }
  .footer .main__courses {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer .header__link:hover {
    background: var(--666CA3, #666CA3);
  }
  .footer .header {
    padding-left: 100px;
  }
  .footer .main__cta:hover {
    background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
  }
  .footer .footer__link:hover {
    background: var(--Gradient-2-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%));
  }
  .footer .main__description {
    max-width: 600px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  padding-left: 16px;
  padding-right: 14px;
}
.header__link {
  background: #13183F;
  color: white;
  text-decoration: none;
  padding: 11px 16px 9px 16px;
  border-radius: 19px;
  font-size: 14px;
  vertical-align: middle;
}
@media (min-width: 1200px) {
  .header .main__title {
    font-size: 50px;
    max-width: 500px;
  }
  .header .main {
    padding-left: 100px;
  }
  .header .main__courses {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header .header__link:hover {
    background: var(--666CA3, #666CA3);
  }
  .header .header {
    padding-left: 100px;
  }
  .header .main__cta:hover {
    background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
  }
  .header .footer__link:hover {
    background: var(--Gradient-2-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%));
  }
  .header .main__description {
    max-width: 600px;
  }
}

.container {
  padding-top: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(180deg, white 0%, #F0F1FF 100%);
}
@media (min-width: 1200px) {
  .container .main__title {
    font-size: 50px;
    max-width: 500px;
  }
  .container .main {
    padding-left: 100px;
  }
  .container .main__courses {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container .header__link:hover {
    background: var(--666CA3, #666CA3);
  }
  .container .header {
    padding-left: 100px;
  }
  .container .main__cta:hover {
    background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
  }
  .container .footer__link:hover {
    background: var(--Gradient-2-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%));
  }
  .container .main__description {
    max-width: 600px;
  }
}

.main {
  padding-bottom: 70px;
  padding-left: 16px;
  padding-right: 14px;
  background: linear-gradient(180deg, white 0%, #F0F1FF 100%);
}
.main__title {
  color: #13183F;
  margin: 0;
  margin-bottom: 20px;
  line-height: 40px;
}
.main__description {
  color: #83869A;
  max-width: 328px;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 20px;
}
.main__cta {
  background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  color: white;
  text-decoration: none;
  padding: 11px 16px 9px 16px;
  border-radius: 19px;
  font-size: 14px;
}
.main__stats {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  background: url(../img/Group\ 7.png) no-repeat center;
  background-size: 250px;
  position: relative;
  margin-bottom: 50px;
}
.main__move {
  background-color: white;
  position: absolute;
  padding: 13px;
  padding-right: 29px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 0px 30px 50px rgba(6, 22, 141, 0.16);
}
.main__stat {
  background-color: white;
  position: absolute;
  padding: 13px;
  padding-right: 29px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 0px 30px 50px rgba(6, 22, 141, 0.16);
}
.main__stat-label {
  color: #83869A;
  font-size: 13px;
}
.main__stat-value {
  font-weight: bold;
  color: #13183F;
  font-size: 23px;
}
.main__popular-courses {
  background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  padding: 24px 0 23px 28px;
  border-radius: 10px;
  color: white;
  margin-bottom: 30px;
}
.main__popular-courses p {
  max-width: 200px;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
}
.main__courses {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.main__courses .main__course {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  margin-bottom: 20px;
  background-color: white;
  padding: 32px;
  border-radius: 15px;
}
.main__courses .main__course-title {
  color: #13183F;
  font-weight: 800;
}
.main__courses .main__course-description {
  color: #83869A;
  max-width: 289px;
}
.main__courses .main__course-cta {
  text-decoration: none;
  color: #F74780;
}
@media (min-width: 768px) {
  .main .main__courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main .main__title {
    max-width: 500px;
    font-size: 60px;
    line-height: normal;
  }
  .main .main__stats {
    background: url(../../img/01.\ Business\ Agency.png) no-repeat, url(../../img/Rectangle.png) no-repeat top -80px right 40%;
    background-size: contain, 65%;
  }
  .main .main__content {
    display: flex;
    gap: 33px;
    justify-content: space-between;
  }
  .main .main__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main .main__cta {
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .main .main__move {
    right: 50px;
  }
  .main .main__stat {
    bottom: -16px;
    left: -46px;
  }
  .main .main__description {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .main .main__title {
    font-size: 50px;
    max-width: 500px;
  }
  .main .main {
    padding-left: 100px;
  }
  .main .main__courses {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main .header__link:hover {
    background: var(--666CA3, #666CA3);
  }
  .main .header {
    padding-left: 100px;
  }
  .main .main__cta:hover {
    background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
  }
  .main .footer__link:hover {
    background: var(--Gradient-2-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%));
  }
  .main .main__description {
    max-width: 600px;
  }
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */