$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$color_darkblue:#13183F;
$color_gray:#83869A;
$gradient:linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$gradient_dark:linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
$gradient_white:linear-gradient(180deg, white 0%, #F0F1FF 100%);
$color_rose:#F74780;